/*List of Colors*/
/*Blue : #0065FC*/
/*Light_Blue : #DEEBFF*/
/*Grey : #F2F2F2*/

/*-------------------*/
/*General*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500;1,600&display=swap');
body {
    font-family: 'Raleway', sans-serif;
}

form {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/*General*/
/*-------------------*/

/*Header*/

#Header {
    margin-left: 22px;
    height: 90px;
}

#Header_Nav {
    display: flex;
    justify-content: flex-end;
    width: 98%;
}

#Header_Box_Parent {
    display: flex;
}

.Header_Nav_Link {
    margin-right: 60px;
    color: #4d6180;
    border: none;
    background-color: white;
}

.Header_Nav_Link:hover {
    padding-top: 50px;
    color: #0065FC;
    cursor: pointer;
    border-top: 3px solid #0065FC;
    transition-duration: 0.4s;
}

#Subscribe_Header_Box a {
    color: #0065FC;
    font-weight: bold;
}

#Hosting_main_title {
    font-size: 1.3em;
    font-weight: bold;
}

#short_describe {
    font-size: 0.94em;
}

/*Header*/
/*-------------------*/
/*Main*/

#Main_description {
    margin-left: 25px;
}

/*Main*/
/*-------------------*/
/*Research*/

#form_search {
    display: flex;
    justify-content: center;
}

#search {
    display: flex;
    width: 98%;
}

.fa-map-marker-alt { /*Font awesome item*/
    border: 1px solid transparent;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 13px 15px 13px 15px;
}

#site_search {
    border: 1px solid;
    border-color: #F2F2F2 #F2F2F2 #F2F2F2 transparent;
    padding: 15px;
}

#search input {
    font-weight: bold;
    color: black;
}

#search_button {
    border: 1px solid transparent;
    border-radius: 0 12px 12px 0;
    padding: 10px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#search_button:hover {
    transition-duration: 0.7s;
    background-size: 200%;
    transform: scale(1.05);
    background-image: linear-gradient(
        to left,
        #0065FC,
        #3887ff,
        #0065FC
    );
    background-position: right;
}

#search_button_Iphone {
    display: none;
}

/*Research*/
/*-------------------*/
/*Filter*/

#filter_title {
    margin-left: 22px;
    margin-right: 22px;
}

#Main_filter {
    display: flex;
    align-items: center;
}

#eco_family_mobile {
    display: flex;
}

#romantic_puppy_mobile {
    display: flex;
}

#romantic_puppy {
    display: flex;
}

#search_filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 15px 15px 0;
}

.filter {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    font-weight: bold;
    border: 2px solid #F2F2F2;
    border-radius: 34px;
    cursor: pointer;
    margin-right: 15px;
}

.sub_filters {
    padding: 10px;
}

.filter .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
}

.filter:hover {
    transform: scale(1.05);
    transition-duration: 0.7s;
    background-size: 200%;
    background-image: linear-gradient(
        to left,
        rgb(255, 255, 255),
        #DEEBFF,
        #DEEBFF
    );
    background-position: right;
}

/*Filter*/
/*-------------------*/

#vacancy {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

#vacancy p {
    padding-left: 10px;
}

#vacancy i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
    color: #0065FC;
    border-radius: 100%;
    min-height: 35px;
    min-width: 35px;
}

/*-------------------*/
/*Core*/

#Hosting_and_popular { /*Position of the two central sections*/
    display: grid;
    grid-template-columns: 65% 35%;
}

#Hosting_and_popular section {
    margin: 25px;
    min-height: 750px;
}

/*-------------------*/
/*Hosting Section*/

#Hosting_section {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 15px;
}

#Hosting_section i { /*Font awesome item color*/
    color: #0065FC;
}

#Hosting_section h2 {
    max-width: 70%;
    margin-left: 15px;
}

#Main_Hosting_Box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grey_rate i { /*<span> Grey star rating*/
    color: #F2F2F2!important;
}

.Hosting_Box {
    display: flex;
    flex-direction: column;
    height: 250px;
    border-radius: 15px;
    margin: 12px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.397);
}

.Hosting_Box:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.Hosting_text {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.Hosting_text p {
    margin: 0 0 10px 0;
}

.Hosting_text h3 {
    margin: 0 0 10px 0;
}

#Hosting_img_1 {
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 60%;
    border-radius: 10px 10px 0 0;
}

#Hosting_img_2 {
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 60%;
    border-radius: 10px 10px 0 0;
}

#Hosting_img_3 {
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 60%;
    border-radius: 10px 10px 0 0;
}

#Hosting_img_4 {
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 60%;
    border-radius: 10px 10px 0 0;
}

#Hosting_img_5 {
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 60%;
    border-radius: 10px 10px 0 0;
}

#Hosting_img_6 {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 60%;
    border-radius: 10px 10px 0 0;
}

#show_more_button {
    font-weight: bold;
    font-size: 1.32em;
    margin-left: 15px;
    margin-top: 45px;
    cursor: pointer;
    max-width: 130px;
}

#show_more_button:hover {
    transform: scale(1.05);
    transition-duration: 0.7s;
}

/*Hosting Section*/
/*-------------------*/
/*Popular Section*/

#Popular_section {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 14px;
}

#Most_popular_title {
    margin-left: 14px;
}

#Most_popular_titlebox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
}

#Most_popular_img_1 {
    width: 33%;
    background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
}

#Most_popular_img_2 {
    width: 33%;
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
}

#Most_popular_img_3 {
    width: 33%;
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
}

#Most_popular_parent {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Most_popular {
    display: flex;
    background-color: white;
    border-radius: 12px;
    width: 90%;
    height: 180px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.397);
    padding: 5px;
}

.Most_popular:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.Most_popular i { /*Font awesome item color*/
    color: #0065FC;
}

.Popular_box {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 8px;
    justify-content: center;
}

/*Popular Section*/
/*-------------------*/
/*Activity Section*/

#Activity_section {
    height: 480px;
}

#Activity_section h2 {
    margin-left: 23px;
}

#Main_activity_box {
    display: flex;
    justify-content: space-evenly;
    height: 78%;
}

.Activity_box {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.397);
    width: 22%;
}

.Activity_2_3 {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Activity_2_3 p {
    height: 31%!important;
}

.Activity_5_6 {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Activity_5_6 p {
    height: 31%!important;
}

.Activity_box p {
    font-weight: bold;
    margin: 0;
    height: 15%;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.Activity_box:hover {
    transform: scale(1.05);
    transition-duration: 0.7s;
}

#activity_1 { /*Activity picture*/
    background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 85%;
    border-radius: 10px 10px 0 0;
}

#activity_2 {
    background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 69%;
    border-radius: 10px 10px 0 0;
}

.Activity_box.A-Box_2 {
    width: auto;
    height: 47%;
}

#activity_3 {
    background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 69%;
    border-radius: 10px 10px 0 0;
}

.Activity_box.A-Box_3 {
    width: auto;
    height: 49%;
}

#activity_4 {
    background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 85%;
    border-radius: 10px 10px 0 0;
}

#activity_5 {
    background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 69%;
    border-radius: 10px 10px 0 0;
}

.Activity_box.A-Box_5 {
    width: auto;
    height: 47%;
}

#activity_6 {
    background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 69%;
    border-radius: 10px 10px 0 0;
}

.Activity_box.A-Box_6 {
    width: auto;
    height: 49%;
}

/*Core*/

/*Main*/
/*-------------------*/
/*-------------------*/
/*Footer*/

#Footer {
    background-color: #F2F2F2;
    height: 210px;
}

#Main_Footer_Nav_Box {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 15px 0 0 30px;
    line-height: 1.8;
}

#Footer h3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Footer_Nav_Link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.Footer_Nav_Link:hover {
    color: #0065FC;
}

/*Footer*/
/*-------------------*/
/*Responsive Iphone*/
@media (max-width: 480px)
{
    body {
        margin: 0;
    }

    #Header {
        margin: 0;
    }

    #Logo_Header {
        height: 0;
        padding: 10px 0 0 25px;
    }

    #Header_Box_Parent {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #Subscribe_Header_Box {
        padding: 15px 25px 0 0;
    }

    #Header_Nav {
        flex-direction: column-reverse;
        align-items: flex-end;
        height: 100px;
        justify-content: space-between;
        width: 100%;
    }

    .Header_Nav_Link {
        background-color: transparent;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
    }

    .Header_Nav_Link:hover {
        border-bottom: 3px solid #0065FC;
        border-top: none;
        padding-bottom: 15px;
        transition-duration: 0s;
    }

    #Header_hosting_1 {
    border-bottom: 3px solid #0065FC;
    padding-bottom: 5px;
    border-top: none;
    }

    #search {
        width: auto;
    }

    #search_button {
        display: none;
    }

    #search_button_Iphone {
        display: inline;
        border: 1px solid transparent;
        color: white;
        background-color: #0065FC;
        border-radius: 0 15px 15px 0;
        padding: 13px 15px 13px 15px;
    }

    #search_button_Iphone:hover {
        transition-duration: 0.7s;
        background-size: 200%;
        transform: scale(1.05);
        background-image: linear-gradient(
            to left,
            #0065FC,
            #3887ff,
            #0065FC
        );
        background-position: right;
    }

    #Main_description {
        padding-top: 25px;
    }

    #Main_filter {
        display: flex;
        flex-direction: column;
        align-items: initial;
        transform: scale(0.9);
    }

    #eco_family_mobile {
        display: flex;
        align-items: flex-start;
    }

    #romantic_puppy_mobile {
        flex-direction: column;
    }

    #Romantic_filter {
        width: 50%;
    }

    #Puppy_filter {
        width: 70%;
    }

    .filter {
        margin-bottom: 15px;
    }

    .sub_filters {
        padding: 0 18px 0 0;
    }

    #vacancy {
        margin-left: 12px;
    }

    #Hosting_main_title {
        width: 82%;
    }

    #Hosting_and_popular {
        display: flex;
        flex-direction: column;
    }

    #Hosting_and_popular section {
        margin: 0;
    }

    #Hosting_section {
        background-color: white;
    }

    #Hosting_section h2 {
        max-width: 100%;
    }

    #Popular_section {
        order: -1;
        border-radius: 0;
    }

    #Most_popular_titlebox i {
        padding-left: 75px;
    }

    .Most_popular {
        margin: 20px;
    }

    #Most_popular_img_1 {
        width: 60%;
    }

    #Most_popular_img_2 {
        width: 87%;
    }

    #Most_popular_img_3 {
        width: 59%;
    }

    #Main_Hosting_Box {
        display:flex;
        flex-direction: column;
    }

    #Activity_section {
        height: 80%;
    }

    #Main_activity_box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Activity_box {
        width: 340px;
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
    }
    
    .Activity_box p {
        margin: 16px;
    }

    #activity_1 {
        height: 100px;
    }

    .Activity_2_3 {
        width: 340px;
    }
    
    #activity_2 {
        height: 100px;
    }

    #activity_3 {
        height: 100px;
    }

    #activity_4 {
        height: 100px;
    }

    .Activity_5_6 {
        width: 340px;
    }

    #activity_5 {
        height: 100px;
    }

    #activity_6 {
        height: 100px;
    }

    #Main_Footer_Nav_Box {
        display: flex;
        flex-direction: column;
    }

    #Footer {
        height: 475px;
    }

}    

/*Responsive Tab*/
@media (min-width: 481px) and (max-width: 1024px) 
{

    #Header {
        margin-left: 0;
        height: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #Logo_Header {
        height: 180px;
        display: flex;
    }

    #Logo_Header img {
        height: 140px;
    }

    #Header_Nav {
        display: flex;
        justify-content: inherit;
    }

    #Main_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 115px;
    margin: 0;
    }

    #search {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    #Main_filter {
        margin-left: 10px;
        flex-direction: column;
    }

    #search_filters {
        justify-content: center;
        height: 200px;
    }

    .sub_filters {
        padding: 0 10px 0 0;
    }

    .filter {
        margin-top: 6px;
    }

    #filter_title {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #DEEBFF;
        color: #0065FC;
        border-radius: 100%;
        height: 3rem;
        width: 3rem;
        min-height: 3.5rem;
        min-width: 3.5rem;
    }

    #romantic_puppy_mobile {
        display: flex;
    }

    #Hosting_and_popular {
        display: flex;
        flex-direction: column;
    }

    .Hosting_text {
        padding: 5px;
    }

    .Hosting_text p {
        font-size: 1em;
    }
    
    .Hosting_text h3 {
        font-size: 0.97em;
    }

    #Popular_section {
        order: -1;
    }

    .Most_popular {
        margin: 20px;
    }

    #Activity_section {
        height: 850px;
    }

    #Main_activity_box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        height: 92%;
    }

    .Activity_box {
        width: 90%;
        padding-bottom: 10px;
        margin: 0 0 20px 25px;
    }

    .Activity_2_3 {
        width: 90%;
    }

    .Activity_5_6 {
        width: 90%;
    }

    #Main_Footer_Nav_Box {
        display: flex;
        justify-content: space-between;
        width: 90%;
        background-color: #F2F2F2;
    }

    .Footer_Nav_Box {
        display: flex;
        flex-direction: column;
    }

} 